<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--单词文件夹, 以"WORDS_"开头,后面是单词名称, 可以添加多个-->
	<add key="WORDS_演示单词" value=".\data\demo\zpk_解压"/>
	<!-- <add key="WORDS_四级单词" value="D:\百词斩四级"/> -->

    <!--数据文件夹, 历史记录、收藏的文件-->
    <add key="DATA_DIR" value=".\data\"/>
  </appSettings>
</configuration>